@font-face {
    font-family: 'Kanit';
    src: url(./Kanit/Kanit-Regular.ttf);
}
/*
body {
    background-image: url("images/blckgrd.jpg");
}
*/


.container {
    width: 500;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: Ivory;
    padding: 20px;
    box-sizing: border-box;
    
}

.header {
    text-align: center;
    margin: 20px;
    font-size: 50px;
    font-family: "Audiowide", sans-serif; 
    background-color: red;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }
  
tr:nth-child(even){
    background-color: #F5F5F5
    color: 
}
  
th {
    background-color: #04AA6D;
    color: white;
  }

.buttom {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer; // เอาเม้าไปวางแล้วเปลี่ยนเป็นรูปมือ

}
.btr {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* สีน้ำเงิน */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.btr:hover {
    background-color: #0056b3; /* สีน้ำเงินเข้มขึ้น */
    transform: scale(1.05);
}

.btr:active {
    background-color: #003d80; /* สีเข้มขึ้นเมื่อกด */
    transform: scale(0.95);
}
