/* ส่วนนี้ CSS */
/* ใช้สำหรับแต่ง (id class) */
/* index4 */

@font-face {
    font-family: 'Kanit';
    src: url(./Kanit/Kanit-Regular.ttf);
}

body {
    font-family: 'Kanit';
    background-color: black;
    background: url(background2.gif);
    background-size: cover;
}

.container {
    width: 600px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px orange;
    border-radius: 20px;
    
}


.header { //หัวข้อ Register
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(to right, black 60%, orange 40%); /* เปลี่ยนสีจากซ้ายไปขวา */  
    font-family: "Audiowide", sans-serif; // front พิเศษ เพิ่มlinkที่ head index4 
    
}
div.header{
    font-size: 50px;
//background-color: orange;
    border-radius: 16px;
}



.header-form {
    width: 100px;
}

.flex {
    display: flex;
}

.form-input {
    margin-bottom: 10px;
    
}

.input.form, textarea {
    border: 1px solid #ccc;
    width: 100%;
    
}

.center {
    text-align: center;
}

.buttom {
    border: 0;
    width: 100%;
    height: 40px;
    cursor: pointer; /* เปลี่ยนเมาส์เป็นรูปมือ */
    border-radius: 16px;
}

.message {
    margin-buttom: 20px;
    padding: 10px;
    background-color: lightgray;
    display: none;
}

.message.success {
    background-color: lightgreen;
    display: block;
}

.message.danger {
    background-color: lightcoral;
    display: block;
}

.buttom:hover {
    background-color: pink;
}
.buttom:active{
    transform: translateY(4px)
}

a {
    display: inline-block;
    padding: 10px 20px;
    //background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
a:hover{
    background-color: orange; 
    transform: scale(1.05);
}

.go-button {
    position: relative;
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 60px; /* ข้อความจะอยู่ขวาของปุ่ม */
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.go-button:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 762px) {
    .flex {
        flex-direction: column;
    }
    .header {
        font-size: 24px;
    }
    .buttom {
        width: 100%;
    }
    
}